<div class="alert alert-danger">
    <h1>Configuraciones</h1>
    <hr>

    <!-- ol>li*5{Configuración Nro. $} -->
    <ol>
        {{!-- {{#each lista}}
        <li>Nombre: <b>{{nombre}}</b> - Nivel: <i>{{ nivel }}</i></li>
        {{/each}} --}}
        {{#lista}}
        <li>Nombre: <b>{{nombre}}</b> - Nivel: <i>{{ nivel }}</i></li>
        {{/lista}}
    </ol>

</div>