<div class="alert alert-info">
    <h1>{{ mensaje }}</h1>
    <hr>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quidem, temporibus, tempora aspernatur nobis error obcaecati quisquam porro natus doloribus excepturi facere. Accusantium numquam beatae eveniet aut ratione. Esse, dolorem?
    </p>
</div>