<div class="alert alert-warning">
    <h1>Mis mensajes</h1>
    <hr>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ab nisi corrupti perferendis alias optio doloremque quidem excepturi adipisci est natus, enim aperiam pariatur itaque maxime accusantium quos ut a?
    </p>
    <hr>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ab nisi corrupti perferendis alias optio doloremque quidem excepturi adipisci est natus, enim aperiam pariatur itaque maxime accusantium quos ut a?
    </p>
    <hr>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ab nisi corrupti perferendis alias optio doloremque quidem excepturi adipisci est natus, enim aperiam pariatur itaque maxime accusantium quos ut a?
    </p>
    <hr>
</div>